body{
  font-family: Arial;
}
.div {
    text-align: center;
    background: ghostwhite;
    font-weight: bold;
    font-family: Arial, sans-serif;
    font-size: large;
  }
.title {
  font-weight: 900;
  text-align: center;
  margin-bottom: 34px;
  }
button
{ color: #fff; /* цвет текста */
  width:200px;height:60px;
  border-radius: 5px;
  background-color:  #16a085;
  text-align: center;
}
.copyright {
  background-color: white;
  text-align: right;
  }
.footer{
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 45px;
  padding-bottom: 45px;
  font-weight: 900;
  }
.img-main {
  text-align: center;
}
.menu-top {
  text-align: center;
  margin: 35px 0px;
  }
.menu-top-link {
  color:  #16a085;
  font-size: 18px;/* Приближение из-за подстановки шрифтов */
  font-weight: 900;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  margin-right: 65px;
}
.menu-top li {
  display: inline-block;
  }
.content {
  background-color: gainsboro;
  margin: 0 auto;
  padding-top: 52px;
  padding-bottom: 94px;
  text-align: center;
  max-width: 1280px;
  }
.content p {
  margin: 0 75px 25px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 41px;
}
